.addOns,
.addOnsInfoContainer,
.mainInfoContainer {
  display: flex;
}

.mainInfoContainer,
.addOns {
  justify-content: space-between;
}

.summary {
  padding: 1rem;
  background-color: var(--color-secondary--light-grey);
  border-radius: 0.5rem;
}

.planText,
.activeSubText {
  text-transform: capitalize;
  display: inline-block;
}

.mainInfoContainer,
.hr {
  margin-bottom: 1.5rem;
}

.hr {
  color: var(--color-secondary--light-grey);
  height: 0.1rem;
}

.addOnsInfoContainer {
  flex-direction: column;
  gap: 2rem;
}
