.addOns,
.addOnsInfoContainer,
.planInfoContainer {
  display: flex;
}

.planInfoContainer,
.addOns {
  justify-content: space-between;
}

.planText,
.activeSubscriptionInterval {
  text-transform: capitalize;
  display: inline-block;
}
.planText,
.activeSubscriptionInterval,
.planPrice {
  font-weight: 700;
}

.planInfoContainer,
.hr {
  margin-bottom: 1.5rem;
}

.hr {
  color: var(--color-secondary--light-grey);
  height: 0.1rem;
}

.addOnsInfoContainer {
  flex-direction: column;
  gap: 2rem;
}

.addOnName,
.totalText {
  color: var(--color-secondary--cool-grey);
}
.planPrice,
.addOnPrice {
  color: var(--color-primary--marine);
}

.totalPrice {
  color: var(--color-primary--purplish);
}
