.select {
  display: flex;
  border: 0.1rem solid var(--color-secondary--light-grey);
  border-radius: 0.5rem;
  gap: 2rem;
  align-items: start;
  padding: 1.5rem 1rem;
}
.select:hover {
  cursor: pointer;
}
.active,
.select:hover {
  border: 0.08rem solid var(--color-primary--purplish);
}

.active {
  background-color: var(--color-secondary--Magnolia);
}
