.nav {
  background-color: var(--color-secondary--white);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav > * {
  cursor: pointer;
}

.pageOne,
.normal {
  display: flex;
  align-items: center;
}

.normal {
  justify-content: space-between;
}

.pageOne {
  justify-content: end;
}

@media screen and (max-width: 260px) {
  .nav {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }
}
