.mainSubHeading {
  font-size: 2rem;
}
.secondarySubHeading,
.mainSubHeading {
  color: var(--color-secondary--cool-grey);
}

.secondarySubHeading {
  font-size: 1.4rem;
}

@media screen and (max-width: 315px) {
  .secondarySubHeading {
    font-size: 1.2rem;
  }
}
