.container {
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  border: 1px solid var(--color-secondary--light-grey);
}

.check {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.5rem;
}

.price {
  color: var(--color-primary--pastel);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.checked {
  background-color: var(--color-secondary--Magnolia);
}

.container:hover,
.checked {
  border: 0.08rem solid var(--color-primary--purplish);
}

@media screen and (max-width: 380px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .price {
    font-size: 1.3rem;
  }
}
