.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../public/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  gap: 2.8rem;
}
.center {
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1.3rem;
  list-style-type: none;
  margin-top: 4rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary--white);
  width: 95%;
  border-radius: 1rem;
  gap: 1rem;
}

.contentContainer > * {
  margin-left: 2rem;
  margin-right: 2rem;
}
.contentContainer > :first-child {
  margin-top: 3rem;
}
.contentContainer > :last-child {
  margin-bottom: 3rem;
}

@media screen and (max-width: 350px) {
  .contentContainer > * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 300px) {
  .contentContainer > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
