@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
  min-width: 0;
}

:root {
  --color-primary--marine: hsl(213, 96%, 18%);
  --color-primary--purplish: hsl(243, 100%, 62%);
  --color-primary--pastel: hsl(228, 100%, 84%);
  --color-primary--light--blue: hsl(206, 94%, 87%);
  --color-primary--strawberry: hsl(354, 84%, 57%);

  --color-secondary--cool-grey: hsl(231, 11%, 63%);
  --color-secondary--light-grey: hsl(229, 24%, 87%);
  --color-secondary--Magnolia: hsl(217, 100%, 97%);
  --color-secondary--Alabaster: hsl(231, 100%, 99%);
  --color-secondary--white: hsl(0, 0%, 100%);
}

html {
  font-size: 10px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  background-color: var(--color-secondary--light-grey);
  height: 100vh;
}
#root,
.app {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
